body {
  font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.43;
  /*background: url('https://images.unsplash.com/photo-1467987506553-8f3916508521?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f07ed120eeba6a2720aeb6422f566f74&auto=format&fit=crop&w=1050&q=80') no-repeat center center fixed;;*/
  background: url("https://images.unsplash.com/photo-1505410272170-ccbb6934c5c3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3c9e268cb2f3793206d7f875b431fb4e&auto=format&fit=crop&w=1050&q=80") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  padding-bottom: 10px;
  margin-left: 30px;
}

a:hover {
  border-bottom: 3px solid black !important;
}

.logo {
  width: 150px;
  height: 50px;
  padding-left: 15px;
  padding-right: 90px;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  text-decoration: none;
}

ul {
  display: flex;
  text-decoration: none;
}

li {
  list-style-type: none;
  text-decoration: none;
  padding-left: 10px;
}

.full-form {
  background-color: white;
  margin: 5% 50% 5% 5%;
  border-radius: 5px;

}

.book {
  padding: 5% 8% 0 5%;
}

.home-form {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 1fr 1fr;
}

.where {
  padding: 5% 5%;
  grid-column: span 2;
}

.check-in {
  align-self: center;
  padding: 0 0 0 10%;
  grid-column: span 1;
}

.check-out {
  align-self: center;
  padding: 0 10% 0 0;
  grid-column: span 1;
}

.guests {
  padding: 5% 5%;
  grid-column: span 2;
}

.search {
  text-align: center;
  padding: 5% 5%;
  grid-column: span 2;
}

input {
  line-height: 24px;
  width: 100%;
}

.search-button {
  background-color: #ff2f52;
  width: 50%;
  color: white;
  font-size: 22px;
  border-radius: 5px;
  padding: 3%;
}

.listings {
  padding: 10px;
  background: white !important;
}

.search-picture {
  height: 18px;
  width: 18px;
  display: block;
  fill: currentcolor;
}

.search-icon {
  display: inline-grid;
}

label {
  line-height: normal;
  box-sizing: border-box;
}

.threehundredhomes {
  color: darkslategray;
}

.filter-buttons {
  padding: 10px;
  border: 1px solid gray;

}

.filter-buttons:hover {
  background-color: lightgray !important;
}

.single-listing {
   background: white !important;
   padding: 20px;
}

.listings-list {
  background: white !important;
   padding: 20px;
}
