.listings-list {
  background-color: #fff;
}

.listings {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 300px);
}

.listings > img {
  width: 100%;
  grid-row: span 1;
  grid-column: span 3;
}
