
.listings-list {
  display: flex;
  flex-flow: row wrap;
  position: absolute;
  top: 30%;
}

.homelink {
  height: 5%;
  width: 5%;
}

.head-logo {
  height: 50%;
  width: 100%;
}

.header-nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  background-color: #fff;
  border-bottom: 1px solid gray;
}

.filters {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  position: fixed;
  top: 16%;
  width: 100%;
  z-index: 1;
  background-color: #fff;
}

.threehundredhomes {
  color: darkslategray;
  position: absolute;
  top: 0;
  width: 100%;
}

.mapwrapper {
  position: fixed;
  top: 21%;
  margin: 5% 0;
  right: 0;
  width: 33%;
}

.listings {
  width: 66%;
  margin: 10% 0 0 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
}

.pic {
  outline: 2px solid black;
  width: 100%;
  height: 100%;
  filter: brightness(75%);
  transition: all .2s ease-in-out;
}

.pic:hover {
  filter: brightness(100%);
  transform: scale(1.1);
}

.info {
  margin: 0 7%;
  grid-column: 2 / 3;
  grid-row: span 1;
  text-align: left;
}

.info > a {
  margin: 0 25%;
}

.dropdown {
  height: 50%;
  margin: auto 0;
}

.dropdown > button {
  color: black;
  background: #fff;
  border: 1px solid white;
}

.dropdown > form {
  margin: auto 0;
}


.dropdown-menu.show {
  overflow: visible;
  position: relative;
  z-index: 99 !important;
}

@media all and (max-width: 910px) {

  .map {
    display: none;
  }

  .listings {
    width: 100%;
  }

}
