
body {
  background-color: #f4f4f4;
}

.listings {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.pics {
  margin: 8% 0 0 0;
  position: absolute;
  left: 0;
  height: 60%;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  grid-column: span 4;
  grid-row: span 1;
  cursor: pointer;
  overflow: hidden;
}

.mainpic {
  outline: 1px solid black;
  order: 1;
  width: 50%;
  height: 100%;
  flex: 0 0 100%;
  filter: brightness(75%);
  transition: all .2s ease-in-out;
}

.mainpic:hover {
  filter: brightness(100%);
  transform: scale(1.1);
}

.secpic {
  outline: 1px solid black;
  order: 2;
  height: 50%;
  width: 50%;
  flex: 0 0 50%;
  filter: brightness(75%);
  transition: all .2s ease-in-out;
}

.secpic:hover {
  filter: brightness(100%);
  transform: scale(1.1);
}

.thirdpic {
  outline: 1px solid black;
  order: 3;
  height: 50%;
  width: 50%;
  flex: 0 0 50%;
  filter: brightness(75%);
  transition: all .2s ease-in-out;
}

.thirdpic:hover {
  filter: brightness(100%);
  transform: scale(1.1);
}

.info {
  grid-column: 2 / 5;
  grid-row: 3 / 3;
  text-align: left;
}

.title {

}

.details {

}

.price {

}

.super {

}
